<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-shield-alt"></i> 거북이 보험
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#">회원가입</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="side-nav">
    <ul>
        <li><a href="/"><i class="fas fa-home"></i> 홈</a></li>
        <li><a href="/cancer/recommend"><i class="fas fa-ribbon"></i> 암보험 추천</a></li>
        <li><a href="/accident/recommend"><i class="fas fa-user-shield"></i> 상해보험 추천</a></li>
        <li><a href="/contact"><i class="fas fa-envelope"></i> 문의하기</a></li>
    </ul>
</nav>