{{>layout/header}}
<h2>나에게 맞는 생명보험, 빠르게 찾기</h2>
<h5>금액, 나이, 성별, 직업별로 가장 유리한 생명보험을 추천 받아보세요.</h5>
<h5>개인정보 입력</h5>
<div></div>
<button>맞춤 추천 받기</button>
<h5>사용자 프로필</h5>
<h5>나이</h5>

<h3>추천결과</h3>
<h4>총 0개 상품 추천</h4>
{{>layout/footer}}