<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>챗봇AI</title>
</head>
<body>
    <h2>[AI 채팅 화면]</h2>
</body>
</html>